.sidebar {
  height: 100vh;
  padding: 20px;
  border-right: 1px solid #ddd;
}
.card {
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card img {
  height: 150px;
  object-fit: cover;
}
.add-to-carts{
  color: #fff !important;
  border: none;
}
.add-to-cart-btn:hover {
  background-color: #0056b3;
}

.margin-cards{
  margin-top: 180px !important;
}
#validationTooltipUsernamePrepend{
  font-size: 25px;
}
.card-text{
  text-align: left;
}

#less-fonts > h3{
  font-size: 19px;
    margin-top: 6px;
}

#less-fonts > button{
  border: 1px solid #ffc107;
  border-radius: 20px;
  color:#81C408;
  font-weight: 400;
}

#less-fonts > button:hover{
  color: white;
}