#full-width-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 16rem /* Full viewport height */

}

.errors > i {
    font-size: 95px;
    color: #ffc107 ;
}

.notfound{
    margin-top: 5rem;
}